@import "tailwindcss";

:root {
  --background: hsl(240 100% 99%);
  --foreground: hsl(222 47% 11%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222 47% 11%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222 47% 11%);

  --primary: hsl(222 85% 43%);
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222 47% 11%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);

  /* --accent: hsl(262 83% 58%);
  --accent-foreground: hsl(210 40% 98%); */
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(222 85% 43%);

  --radius: 0.625rem;

  /* --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);

  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);

  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);

  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);

  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259); */

  --brand-50: #f3f4ff;
  --brand-100: #e9eaff;
  --brand-200: #d6d8ff;
  --brand-300: #b9b9ff;
  --brand-400: #9990ff;
  --brand-500: #7c67fa;
  --brand-600: #6d46f0;
  --brand-700: #5e37d7;
  --brand-800: #4d2eab;
  --brand-900: #402889;

  --fund-50: #edf9ff;
  --fund-100: #d6f1ff;
  --fund-200: #b5e8ff;
  --fund-300: #83ddff;
  --fund-400: #48c7ff;
  --fund-500: #1fa7ff;
  --fund-600: #0986f5;
  --fund-700: #0986f5;
  --fund-800: #1158af;
  --fund-900: #134b8c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-brand-50: var(--brand-50);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);

  --color-fund-50: var(--fund-50);
  --color-fund-100: var(--fund-100);
  --color-fund-200: var(--fund-200);
  --color-fund-300: var(--fund-300);
  --color-fund-400: var(--fund-400);
  --color-fund-500: var(--fund-500);
  --color-fund-600: var(--fund-600);
  --color-fund-700: var(--fund-700);
  --color-fund-800: var(--fund-800);
  --color-fund-900: var(--fund-900);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}

.gradient-text {
  @apply bg-gradient-to-r from-brand-600 to-fund-600 text-transparent bg-clip-text;
}

.gradient-bg {
  @apply bg-gradient-to-r from-brand-600 to-fund-600;
}

.text-white {
  color: #fff;
}
